.twitter-button {
    background: #00ffff;
    width:150px;
    height:50px;
    border-radius:30px;
    font-size:30px;
}

.WELCOME{
    font-size:80px;
    text-align:center;
    background-color:white;
}
#atag {
    color:purple;
    font-size:30px;
}

body{
    background:white;
}

#youtube{
    font-size:30px;
    color:red;
}

.archivements{
    font-size:40px;
    font-family: sans-serif;
}